/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [RowNumber]
      ,[Number]
      ,[Gender]
      ,[Title]
      ,[FirstName]
      ,[LastName]
      ,[Address]
      ,[ZipCode]
      ,[EmailAddress]
      ,[Username]
      ,[Password]
      ,[Birthday]
      ,[CCType]
      ,[CCNumber]
      ,[CVV2]
      ,[CCExpires]
      ,[BloodType]
      ,[Kilograms]
      ,[Centimeters]
      ,[Column 18]
      ,[Column 19]
  FROM [DSTraining].[dbo].[RAW_FakeNamesUK_20171123]